RACK_ENV=development
REDISCLOUD_URL=redis://your-rediscloud-url
LOCAL_REDIS_URL=redis://localhost:6379
OUTGOING_WEBHOOK_TOKEN=123
BOT_USERNAME=Yelp bot
BOT_ICON=:meat_on_bone:
YELP_CONSUMER_KEY=456
YELP_CONSUMER_SECRET=789
YELP_TOKEN=101112
YELP_TOKEN_SECRET=131415
LOCATION=90001
